.login__container-exit-entry {
  margin-top: 192px;
  margin-bottom: 55px;
}

@media screen and (max-width: 768px) {
  .login__container-exit-entry {
    margin-bottom: 218px;
  }
}

@media screen and (max-width: 320px) {
  .login__container-exit-entry {
    margin-top: 280px;
    margin-bottom: 18px;
  }
}
