.profile__container {
  margin-top: 74px;
  margin-bottom: 70px;
  min-width: 410px;
}

@media screen and (max-width: 768px) {
  .profile__container {
    margin-top: 233px;
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 320px) {
  .profile__container {
    margin-top: 68px;
    margin-bottom: 40px;
    min-width: 260px;
  }
}
