.about__time {
  margin: 0;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.286;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

@media screen and (max-width: 320px) {
  .about__time {
    height: 35px;
    font-size: 0.6875rem;
    line-height: 1.18;
  }
}

.about__time:first-of-type {
  color: #000000;
  background-color: #3ddc84;
}
