.about__title {
  margin: 0;
  min-height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.227;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 768px) {
  .about__title {
    min-height: 49px;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: calc((100vw - 767px) / (767 - 320) * (20 - 18) + 18px);
  }
}

@media screen and (max-width: 320px) {
  .about__title {
    font-size: 1.125rem;
    line-height: 1.22;
  }
}
