.about__work {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.214;
  color: #8b8b8b;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .about__work {
    margin: 0;
    font-size: 0.6875rem;
    line-height: 1.182;
  }
}
