.menu__container {
  display: none;
  background-color: #202020;
}

@media screen and (max-width: 768px) {
  .menu__container {
    max-width: 520px;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .menu__container {
    max-width: 100%;
    display: block;
  }
}
