.menu__container {
  display: none;
  background-color: #202020;
}

@media screen and (max-width: 768px) {
  .menu__container {
    width: 520px;
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .menu__container {
    width: 100%;
    display: block;
  }
}
