.movie__infobox {
  margin: 11px 15px 0 14px;
  width: calc(100% - 28px);
  min-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .movie__infobox {
    margin: 21px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .movie__infobox {
    margin: 11px 0 0 0;
  }
}
