.register__container-exit-login {
  margin-top: 123px;
  margin-bottom: 55px;
}

@media screen and (max-width: 768px) {
  .register__container-exit-login {
    margin-bottom: 217px;
  }
}

@media screen and (max-width: 320px) {
  .register__container-exit-login {
    margin-top: 211px;
    margin-bottom: 15px;
  }
}
