.search__find-button {
  margin-top: 18px;
  margin-left: 6px;
  padding: 0;
  height: 34px;
  width: 34px;
  background-color: initial;
  background-image: url("../../../images/find.png");
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
}

@media screen and (max-width: 320px) {
  .search__find-button {
    margin-top: 11px;
  }
}
