.student__portfolio-works {
  margin-top: 29px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (max-width: 1279px) {
  .student__portfolio-works {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .student__portfolio-works {
    width: 668px;
    row-gap: 1px;
  }
}

@media screen and (max-width: 767px) {
  .student__portfolio-works {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .student__portfolio-works {
    margin-top: 25px;
    width: 292px;
    row-gap: 3px;
  }
}
