.lead__entry-link {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.333;
}

@media screen and (max-width: 320px) {
  .lead__entry-link {
    font-size: 0.625rem;
    line-height: 1.6;
  }
}
