.student__work-pointer {
  margin: 0;
  height: 100%;
  font-size: 30px;
  line-height: 57px;
}

@media screen and (max-width: 768px) {
  .student__work-pointer {
    font-size: 27px;
  }
}

@media screen and (max-width: 320px) {
  .student__work-pointer {
    margin-top: 1px;
    font-size: 19px;
    line-height: 30px;
  }
}
