.menu__navigation {
  margin-top: 110px;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu__navigation {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .menu__navigation {
    margin-top: 105px;
    display: flex;
  }
}
